<div class="header">
  <h2>Lunch Tyme</h2>
  <span class="icon icon-back clickable" *ngIf="hasDetail" (click)="back()"></span>
  <span class="icon icon-map"></span>
</div>
<div class="app">
  <div class="slide-container" [class.active]="hasDetail">
    <app-restaurant-list class="list"></app-restaurant-list>
    <app-restaurant-detail class="detail" *ngIf="hasDetail && isMobile" [@pushOver]></app-restaurant-detail>
    <app-restaurant-detail class="detail" *ngIf="hasDetail && !isMobile" [@slideOut]></app-restaurant-detail>
    <div class="prompt" *ngIf="!hasDetail">Select a Restaurant</div>
  </div>
</div>